.work-sans-fonts {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
.rong{
    background: rgba(72, 61, 61, 0.104);
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-button{
    width: 116px;
    height: 52px;
    box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
cursor: pointer;
}
.nav-head {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
margin-right: 500px;
}
.banner{
    display: flex;
    align-items: center;
    width: 1280px;
height: 560px;
margin-left: 120px;
margin-right: 120px;
justify-content: space-around;
border-radius: 24px;
background: rgb(198, 228, 214);
}
.bangladesh{
    width: 520px;
height: 340px;
margin-top: 40px;
}
.twoo{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500px;
}
.passage{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 52px;
    font-weight: 700;
}
.passage-box{
   margin-top: -30px;
}
.explore{
    border-radius: 8px;
background: rgb(0, 106, 80);
width: 270px;
height: 56px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
margin-top: -10px;
border: none;
cursor: pointer;
}
.sritisodoa{
    width: 474.03px;
height: 400px;
}
.bdpillars{
    margin-left: 120px;
    margin-right: 120px;
    width: 1280px ;
    margin-top: 40px;
}
.pillar-box-container{
display: flex;
gap: 20px;
}
.pillar-box{
    width: 350px;
    height: 360px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 20px;
}
.pillars-head{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
}
.pillar-discrpt{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.carbox-container{
    display: flex;
    justify-content: center;
    gap:24px;
    margin-top: 32px;
}
 .vision{
    margin-left: 120px;
    margin-right: 120px;
    width: 1280px ;
    /* height: 480px; */
 }
.head{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 37px;
font-weight: 700;
}
.description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 14px;
font-weight: 400;
}
.cardboxone{
    width: 410.67px;
    height: 325px;
    padding: 30px;
    box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
.cardboxtwo{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
padding-top: 40px;
padding: 30px;
}
.cardboxthree{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
padding: 30px;
}
.heading{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
}
.btnone{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.btnone:before{
    content: '';
    position: absolute;
    width: 100%;
height: 0%;
top: 0;
left: 0;
background-color: red;
transition: 0.5s;
z-index: -1;
}
.btnone:hover:before{
    height: 100%;
    border-radius: 8px;
}
.btntwo{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.btntwo:before{
    content: '';
    position: absolute;
    width: 100%;
height: 0%;
top: 0;
left: 0;
background-color: green;
transition: 0.5s;
z-index: -1;
}
.btntwo:hover:before{
    height: 100%;
    border-radius: 8px;
}
.btnthree{
    width: 122px;
height: 41px;
border-radius: 8px;
background: rgb(84, 144, 245);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
border: none;
margin-top: 20px;
cursor: pointer;
position: relative;
z-index: 1;
}
.btnthree:before{
    content: '';
    position: absolute;
    width: 100%;
height: 0%;
top: 0;
left: 0;
background-color: gray;
transition: 0.5s;
z-index: -1;
}
.btnthree:hover:before{
    height: 100%;
    border-radius: 8px;
}
.descriptionone{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    width: 346.67px;
height: 72px;
}
.descriptiontwo{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    width: 346.67px;
height: 48px;
}
.descriptionthree{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    width: 346.67px;
height: 48px;
}
.news-section{
    width: 1280px;
margin-left: 120px;
margin-right: 120px;
border-radius: 24px;
}
.newsbox{
    display: flex;
    padding: 56px;
    gap: 32px;
    border-radius: 24px;
background: rgb(255, 255, 255);
margin-top: 30px;
}
.news-image {
    border-radius: 24px;
}
 .newsframe{
    width: 720px;
height: 290px;
 } 
 .news-button{
    width: 139px;
height: 48px;
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
border: none;
cursor: pointer;
position: relative;
z-index: 1;
 }
 .news-button:before{
    content: '';
    position: absolute;
    width: 100%;
height: 0%;
top: 0;
left: 0;
background-color: midnightblue;
transition: 0.5s;
z-index: -1;
}
.news-button:hover:before{
    height: 100%;
    border-radius: 8px;
}
 .date-time{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
 }
 .news-heading{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
 }
 .date {
    margin-left: 15px;
 }
 .newsboxtwo {
    margin-top: 15px ;
    display: flex;
    padding: 56px;
    gap: 32px;
    border-radius: 24px;
background: rgb(255, 255, 255);
 }
 .newsboxthree {
    margin-top: 15px ;
    display: flex;
    padding: 56px;
    gap: 32px;
    border-radius: 24px;
background: rgb(255, 255, 255);
 }
 .donate-section{
    width: 1280px;
height: 464px;
margin-right: 120px;
margin-left: 120px;
border-radius: 24px;
 }
 .donate-passage{
    text-align: center;
 }
 .button-box{
    justify-content: space-around;
   text-align: center;
 }
 .donate-button{
    width: 243px;
height: 128px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-left: 24px;
cursor: pointer;
position: relative;
z-index: 1;
 }
 .donate-button:before{
    content: '';
    position: absolute;
    width: 100%;
height: 0%;
top: 0;
left: 0;
background-color: rgb(210, 128, 35);
transition: 0.5s;
z-index: -1;
}
.donate-button:hover:before{
    height: 100%;
    border-radius: 16px;
}
 .donate-buttonone{
    width: 243px;
height: 128px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(198, 228, 214);
margin-left: 24px;
cursor: pointer;
position: relative;
z-index: 1;
 }
 .donate-buttonone:before{
    content: '';
    position: absolute;
    width: 100%;
height: 0%;
top: 0;
left: 0;
background-color: mediumslateblue;
transition: 0.5s;
z-index: -1;
}
.donate-buttonone:hover:before{
    height: 100%;
    border-radius: 16px;
}
 .donate-input{
    width: 1032px;
height: 64px;
margin-top: 20px;
box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
border-top: none;
border-right: none;
border-left: none;
text-align: center;
margin-left: 20px;
 }
 .news-button{
    width: 139px;
height: 48px;
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
border: none;
cursor: pointer;
margin-left: 20px;
}
.done{
    text-align: center;
    margin-top: 40px;
}
.newsletter-box{
    text-align: center;
    width: 1280px;
    height: 395px;
   margin-left: 50px;
border-radius: 24px;
background: rgb(198, 228, 214);
padding: 80px;
margin-top: 40px;

}
.newsletter-input {
    width: 600px;
height: 54px;
padding-left: 60px;
border-radius: 8px 0px 0px 8px;
background: rgb(255, 255, 255);
border: none;
}
.Subscribe{
    width: 150px;
height: 56px;
border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
border: none;
}
.input-field{
    display: flex;
    gap: 0px;
    padding-left: 30px;
    justify-content: center;
}
.description-promise{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-top: 40px;
}
.footer {
    width: 1560px;
    height: 226px;
    padding-top: 50px;
    background: rgb(255, 255, 255);
    text-align: center;
    margin-top: 80px;
}
.footer-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
/* margin-left: 420px;
margin-right: 420px; */
margin-bottom: 30px;
text-align: center;
}
.links{
    
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
}
.connetct-link{
    margin-left: 20px;
}
.younus{
    width: 1280px;
    height: 256px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 100px 40px 48px 40px;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 40px 89px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
}
.name{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
}
.speech{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}